@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src:url('../less/font/IRANSansWeb_Light.eot');
	src: url('../less/font/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../less/font/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../less/font/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../less/font/IRANSansWeb_Light.ttf') format('truetype');
}